In [2]:
# right tail Alpha=0.05
import numpy as np                        # pizzza problem
import pandas as pd
p=(32-30)/(10/(np.sqrt(30)))
p

1.0954451150103321

 # HERE all examples alpha = 0.05

In [9]:
from scipy import stats
a=stats.norm.cdf(1.09)  
print(1-a)                     # in right tail 1-alpha

0.1378565720320355

 p>alpha  null high
accept h0

 # left tail   perfume bottle

In [13]:
z_cal=(149-150)/(2/np.sqrt(4))
z_cal

-1.0

In [14]:
from scipy import stats
stats.norm.cdf(-1.0)

0.15865525393145707

p>alpha
null high accept h0


# two tail

two tail=2*right tail  
# milk can

In [19]:
z=(505-500)/(10/np.sqrt(30))
z

2.7386127875258306

In [22]:
from scipy import stats 
(1-stats.norm.cdf(z))*2

0.0061698993205441255

p<alpha reject ho

# 1 sample ztest

In [26]:
 import pandas as pd

In [28]:
df=pd.read_excel('Fabric data.xlsx')
df

    Fabric_length
0           151.2
1           160.3
2           147.5
3           149.2
4           159.2
5           155.6
6           148.1
7           154.8
8           156.8
9           167.5
10          164.5
11          147.9
12          154.1
13          159.4
14          147.5
15          148.2
16          154.2
17          148.1
18          163.1
19          155.2
20          154.6
21          155.4
22          158.2
23          157.6
24          158.4

In [30]:
df.columns

Index(['Fabric_length'], dtype='object')

In [31]:
df['Fabric_length'].skew()

0.29650632012590666

In [33]:
df['Fabric_length'].mean()

155.064

In [35]:
z=(155.06-150)/(4/np.sqrt(25))
z

6.325000000000003

In [36]:
from scipy import stats
stats.norm.cdf(z)

0.9999999998733837

p>alpha
accept h0

 # 1 sample T-test

In [38]:
df=pd.read_excel('Bolt diameter.xlsx')
df

    Diameter
0      10.02
1      10.00
2       9.98
3       9.99
4      10.01
5      10.02
6      10.01
7      10.00
8      10.00
9       9.98
10     10.00
11      9.99
12     10.00
13     10.00
14     10.00
15     10.00
16     10.00
17     10.00
18     10.00
19     10.00

In [39]:
df['Diameter'].skew()

0.0

In [42]:
# direct function is there otherwise do before sum
from scipy import stats

stats.ttest_1samp(df['Diameter'], 19)

TtestResult(statistic=-3923.00904918669, pvalue=1.3373311453595586e-57, df=19)

p>alpha accept h0

# 2-sample T -test


#### marketing stratagies

 other conditing checking the variance

# ANOVA test

In [3]:
df=pd.read_excel('Contract Renewal.xlsx')

In [4]:
df.columns

Index(['SupplierA', 'SupplierB', 'SupplierC'], dtype='object')

In [6]:
df['SupplierA'].skew()

0.12032960598073747

In [7]:
df['SupplierB'].skew()

-0.06982967935882636

In [9]:
df['SupplierC'].skew()

0.25116833883092665

In [11]:
from scipy import stats
stats.levene(df['SupplierA'],df['SupplierB'],df['SupplierC'])

LeveneResult(statistic=0.25183988720942463, pvalue=0.7775071819400866)

In [12]:
stats.f_oneway(df['SupplierA'], df['SupplierB'], df['SupplierC'])

F_onewayResult(statistic=2.280378701368123, pvalue=0.10373295731933224)

p>alpha accept h0

# 1 proportion test

In [14]:
stats.binomtest(482,2000,0.25)

BinomTestResult(k=482, n=2000, alternative='two-sided', statistic=0.241, pvalue=0.36615115821828914)

# 2 proposition test

In [28]:
df=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\JohnyTalkers.xlsx")

In [29]:
df

        Person            Drinks
0       Adults  Did Not Purchase
1       Adults  Did Not Purchase
2       Adults  Did Not Purchase
3       Adults  Did Not Purchase
4       Adults  Did Not Purchase
...        ...               ...
1215  Children  Did Not Purchase
1216  Children  Did Not Purchase
1217  Children  Did Not Purchase
1218  Children  Did Not Purchase
1219  Children         Purchased

[1220 rows x 2 columns]

In [17]:
df.columns

Index(['Person', 'Drinks'], dtype='object')

In [18]:
df['Person'].value_counts()

Person
Children    740
Adults      480
Name: count, dtype: int64

In [19]:
df['Drinks'].value_counts()

Drinks
Did Not Purchase    1010
Purchased            210
Name: count, dtype: int64

In [21]:
pd.crosstab(df['Person'],df['Drinks'])

Drinks    Did Not Purchase  Purchased
Person
Adults                 422         58
Children               588        152

In [24]:
from statsmodels.stats.proportion import proportions_ztest
import numpy as np

# Correct way to create numpy arrays
purchased = np.array([58, 152])  # Number of successes
total = np.array([480, 740])     # Number of trials

# Perform the z-test for two proportions
z_stat, p_value = proportions_ztest(purchased, total)

print(f"Z-statistic: {z_stat:.4f}")
print(f"P-value: {p_value:.4f}")

(-3.8227247718795447, 0.00013198507287726183)

p<alpha

# chisquare_test

In [30]:
df=pd.read_excel(r"C:\Users\hp\OneDrive\Documents\Bahaman.xlsx")

In [26]:
df.columns

Index(['Defective', 'Country'], dtype='object')

In [27]:
df

     Defective     Country
0            0       India
1            0       India
2            0       India
3            0       India
4            1       India
..         ...         ...
795          0  Bangladesh
796          0  Bangladesh
797          1  Bangladesh
798          0  Bangladesh
799          0  Bangladesh

[800 rows x 2 columns]

In [32]:
c=pd.crosstab(df['Defective'],df['Country'])

In [33]:
c

Country    Bangladesh  China  India  Srilanka
Defective
0                 183    179    175       178
1                  17     21     25        22

In [34]:
stats.chi2_contingency(c)

Chi2ContingencyResult(statistic=1.7243932538050184, pvalue=0.6315243037546223, dof=3, expected_freq=array([[178.75, 178.75, 178.75, 178.75],
       [ 21.25,  21.25,  21.25,  21.25]]))

p>alpha accept ho